### K - Means Clustering with Python

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [54]:
df = pd.read_csv('Live.csv')
df

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,Column1,Column2,Column3,Column4
0,246675545449582_1649696485147474,video,4/22/2018 6:00,529,512,262,432,92,3,1,1,0,NaN,NaN,NaN,NaN
1,246675545449582_1649426988507757,photo,4/21/2018 22:45,150,0,0,150,0,0,0,0,0,NaN,NaN,NaN,NaN
2,246675545449582_1648730588577397,video,4/21/2018 6:17,227,236,57,204,21,1,1,0,0,NaN,NaN,NaN,NaN
3,246675545449582_1648576705259452,photo,4/21/2018 2:29,111,0,0,111,0,0,0,0,0,NaN,NaN,NaN,NaN
4,246675545449582_1645700502213739,photo,4/18/2018 3:22,213,0,0,204,9,0,0,0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7045,1050855161656896_1061863470556065,photo,9/24/2016 2:58,89,0,0,89,0,0,0,0,0,NaN,NaN,NaN,NaN
7046,1050855161656896_1061334757275603,photo,9/23/2016 11:19,16,0,0,14,1,0,1,0,0,NaN,NaN,NaN,NaN
7047,1050855161656896_1060126464063099,photo,9/21/2016 23:03,2,0,0,1,1,0,0,0,0,NaN,NaN,NaN,NaN
7048,1050855161656896_1058663487542730,photo,9/20/2016 0:43,351,12,22,349,2,0,0,0,0,NaN,NaN,NaN,NaN
7049,1050855161656896_1050858841656528,photo,9/10/2016 10:30,17,0,0,17,0,0,0,0,0,NaN,NaN,NaN,NaN

In [3]:
df.isnull().sum()

status_id              0
status_type            0
status_published       0
num_reactions          0
num_comments           0
num_shares             0
num_likes              0
num_loves              0
num_wows               0
num_hahas              0
num_sads               0
num_angrys             0
Column1             7050
Column2             7050
Column3             7050
Column4             7050
dtype: int64

In [4]:
df.duplicated

<bound method DataFrame.duplicated of                               status_id status_type status_published  \
0      246675545449582_1649696485147474       video   4/22/2018 6:00
1      246675545449582_1649426988507757       photo  4/21/2018 22:45
2      246675545449582_1648730588577397       video   4/21/2018 6:17
3      246675545449582_1648576705259452       photo   4/21/2018 2:29
4      246675545449582_1645700502213739       photo   4/18/2018 3:22
...                                 ...         ...              ...
7045  1050855161656896_1061863470556065       photo   9/24/2016 2:58
7046  1050855161656896_1061334757275603       photo  9/23/2016 11:19
7047  1050855161656896_1060126464063099       photo  9/21/2016 23:03
7048  1050855161656896_1058663487542730       photo   9/20/2016 0:43
7049  1050855161656896_1050858841656528       photo  9/10/2016 10:30

      num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
0               529           512         262        432         92         3
1               150             0           0        150          0         0
2               227           236          57        204         21         1
3               111             0           0        111          0         0
4               213             0           0        204          9         0
...             ...           ...         ...        ...        ...       ...
7045             89             0           0         89          0         0
7046             16             0           0         14          1         0
7047              2             0           0          1          1         0
7048            351            12          22        349          2         0
7049             17             0           0         17          0         0

      num_hahas  num_sads  num_angrys  Column1  Column2  Column3  Column4
0             1         1           0      NaN      NaN      NaN      NaN
1             0         0           0      NaN      NaN      NaN      NaN
2             1         0           0      NaN      NaN      NaN      NaN
3             0         0           0      NaN      NaN      NaN      NaN
4             0         0           0      NaN      NaN      NaN      NaN
...         ...       ...         ...      ...      ...      ...      ...
7045          0         0           0      NaN      NaN      NaN      NaN
7046          1         0           0      NaN      NaN      NaN      NaN
7047          0         0           0      NaN      NaN      NaN      NaN
7048          0         0           0      NaN      NaN      NaN      NaN
7049          0         0           0      NaN      NaN      NaN      NaN

[7050 rows x 16 columns]>

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7050 entries, 0 to 7049
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   status_id         7050 non-null   object
 1   status_type       7050 non-null   object
 2   status_published  7050 non-null   object
 3   num_reactions     7050 non-null   int64
 4   num_comments      7050 non-null   int64
 5   num_shares        7050 non-null   int64
 6   num_likes         7050 non-null   int64
 7   num_loves         7050 non-null   int64
 8   num_wows          7050 non-null   int64
 9   num_hahas         7050 non-null   int64
 10  num_sads          7050 non-null   int64
 11  num_angrys        7050 non-null   int64
 12  Column1           0 non-null      float64
 13  Column2           0 non-null      float64
 14  Column3           0 non-null      float64
 15  Column4           0 non-null      float64
dtypes: float64(4), int64(9), object(3)
memory usage: 881.4+ KB

In [55]:
dff = df.drop(columns=['Column1','Column2','Column3', 'Column4'])
# df = df.drop(columns=['competitorname'])

In [45]:
# print(dff)
# dff
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7050 entries, 0 to 7049
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   status_id         7050 non-null   object
 1   status_type       7050 non-null   object
 2   status_published  7050 non-null   object
 3   num_reactions     7050 non-null   int64
 4   num_comments      7050 non-null   int64
 5   num_shares        7050 non-null   int64
 6   num_likes         7050 non-null   int64
 7   num_loves         7050 non-null   int64
 8   num_wows          7050 non-null   int64
 9   num_hahas         7050 non-null   int64
 10  num_sads          7050 non-null   int64
 11  num_angrys        7050 non-null   int64
dtypes: int64(9), object(3)
memory usage: 661.1+ KB

In [41]:
len(dff['status_id'].unique())

6997

In [42]:
dff['status_type'].unique()

array(['video', 'photo', 'link', 'status'], dtype=object)

In [44]:
dff['status_published'].unique()

array(['4/22/2018 6:00', '4/21/2018 22:45', '4/21/2018 6:17', ...,
       '9/21/2016 23:03', '9/20/2016 0:43', '9/10/2016 10:30'],
      shape=(6913,), dtype=object)

In [56]:
clean_df = dff.drop(['status_id', 'status_published'], axis=1)

In [57]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7050 entries, 0 to 7049
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   status_type    7050 non-null   object
 1   num_reactions  7050 non-null   int64
 2   num_comments   7050 non-null   int64
 3   num_shares     7050 non-null   int64
 4   num_likes      7050 non-null   int64
 5   num_loves      7050 non-null   int64
 6   num_wows       7050 non-null   int64
 7   num_hahas      7050 non-null   int64
 8   num_sads       7050 non-null   int64
 9   num_angrys     7050 non-null   int64
dtypes: int64(9), object(1)
memory usage: 550.9+ KB

### Declaring feature vector and Target variable

In [58]:
X  =clean_df

y = clean_df['status_type']